<!DOCTYPE html>
<!-- 展示axios携带cookies请求 -->
<!-- axios用法:https://www.runoob.com/vue2/vuejs-ajax-axios.html -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axios带cookies请求示例</title>
    <script src="/static/lib_js/axios.min.js"></script>
    <script src="/static/lib_js/cookies.js"></script>
</head>

<body>
    <div>前端设置cookies值：name,value,并发送给后端</div> 
    <button onclick="sendRequest1()">发送请求1，并在后端打印cookies</button>
    <hr>
    <div>后端设置cookies值：ads_id,并且发送给前端</div> 
    <button onclick="sendRequest2()">发送请求2，并在前端打印cookies</button>
    <script>
        // cookies规范要求必须编码为latin-1，因此无法携带中文
        function sendRequest1() {
            setCookie("name", "test")
            setCookie("value", 18)
            axios
            .get("/api/cookiegetest",{withCredentials: true}) // 跨域必须带这个true，然后开启CORS。同源其实不用写这个参数
            .then(res => {
                console.log(res.data)
            })
        }

        function sendRequest2() {
            axios
            .get("/api/cookiesetest",{withCredentials: true}) // 跨域必须带这个true，然后开启CORS。同源其实不用写这个参数
            .then(res => {
                console.log(res.data)
                console.log(getCookie("ads_id"))
            })
        }
    </script>
</body>

</html>