<!DOCTYPE html>
<!-- 展示基础的vue和移动端组件库 mintui 的模板 -->
<!-- 注意：如果要调试vue，要使用vue.js，不是vue.min.js。 vue.js是debug模式，vue.min.js是生产模式-->
<!-- 文档：https://mint-ui.github.io/docs/#/zh-cn2 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 网站图标 方案1 <link rel="icon" href="./path/to/favicon.png" type="image/png"> -->
    <!-- 网站图标 方案2 <link rel="icon" href="./path/to/favicon.ico" type="image/x-icon"> -->
    <title>vue和mint-ui模板</title>
    <link rel="stylesheet" href="/static/lib_css/mintui.css">
    <script src="/static/lib_js/vue.js"></script>
    <script src="/static/lib_js/mintui.js"></script>
    
</head>

<body>
    <div id="app">
        <mt-button @click.native="handleClick">按钮</mt-button> 
        <!-- 在 Vue 组件上绑定的事件是自定义事件，这意味着它们不会直接响应原生 DOM 事件，如点击或输入。 -->
        <!-- native修饰符是绑定原生事件，并不是点击组件里的button，而是点击了组件本身 -->
    </div>


    <script>

        new Vue({
            el: '#app',
            data: {
            },
            methods: {
                handleClick: function() {
                    this.$toast('Hello world!')
                }
            }
        })


    </script>
</body>

</html>