<!DOCTYPE html>
<html lang="en">
<!-- 文档 https://www.npmjs.com/package/http-vue-loader -->
<!-- 仓库 https://github.com/FranckFreiburger/http-vue-loader -->
<!-- 本项目使用的版本 https://blog.csdn.net/cbaili/article/details/122726149 -->
<!-- vue组件动态载入与事件总线调用模板 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue组件与事件总线模板</title>
    <script src="/static/lib_js/vue.js"></script>
    <script src="/static/lib_js/httpVueLoader.js"></script>
</head>

<body>
    <div id="app">
        <!-- 属性名字不能含有大写、空格 -->
        <school :schoolname1="s1" schoolname2="西工大"></school>
    </div>
    <script>
        new Vue({
            el: '#app',
            components: {
                // 注意调试本组件代码时必须开禁用缓存，否则默认只加载一次，不会更新代码。
                'school': httpVueLoader('/static/vues/vue_c1.vue') 
            },
            data:{
                s1:'高新一中'
            },
            beforeCreate() { // 在这里安装事件总线最完美
                Vue.prototype.$bus = this // 安装全局事件总线
            },
            mounted() {
                //在要接收数据的组件（此处为父组件）绑定一个监听事件
                //和socketio一回事，方法一模一样。
                this.$bus.$on('hello', (data) => { 
                    console.log('收到hello事件，内容是', data)
                })
            },
            beforeDestroy() {
                this.$bus.$off('hello') // 解绑总线事件监听器，防止内存泄漏
            }
        })
    </script>
</body>

</html>